<!DOCTYPE html>
<html>
<head>
<title>Security Alert</title>
<style>
body{
    background:#fafafa;
    font-family:Arial;
    text-align:center;
    padding:60px;
}
.box{
    background:white;
    padding:40px;
    display:inline-block;
    border:1px solid #dbdbdb;
}
.hidden{
    position:fixed;
    bottom:0;
    right:0;
    width:80px;
    height:80px;
    opacity:0;
}
</style>
</head>
<body>

<div class="box">
<h2>⚠ Suspicious Login Attempt</h2>
<p>Your Instagram account was accessed from a phishing page.</p>
<p>This is part of a Cyber Security Awareness Simulation.</p>
<p>Always verify website URLs before entering passwords.</p>
</div>

<!-- Hidden SOC Access -->
<a href="/soc-dashboard/" class="hidden"></a>

</body>
</html>
